@import "colors";
@import "media-queries";

%align-center {
    display: flex;
    align-items: center;
}

%container {
    padding: 0rem calc((100vw - 1200px) / 2);
}

.navbar {
    background-color: $gray;
    color: $yellow;
    padding: 0 calc((100vw - 1200px) / 2);
    border-bottom: 8px solid;

    &__first {
        display: flex;
        justify-content: space-between;

        @include mobile {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        &-logo {
            font-size: 3.5rem;
            @extend %align-center;

            @include desktop {
                font-size: 2.5rem;
                margin-top: 15px;
            }

            @include tablet {
                font-size: 2rem;
            }

            @include tablet-horizontal {
                font-size: 1.5rem;
            }

            @include mobile {
                font-size: 2rem;
            }
        }

        &-box {
            @extend %align-center;
            margin-top: 25px;

            &-text {
                font-size: 2rem;
                @include desktop {
                    font-size: 1.5rem;
                }

                @include tablet {
                    font-size: 1rem;
                }

                @include tablet-horizontal {
                    font-size: 0.8rem;
                }

                @include mobile {
                    text-align: center;
                }
            }

            &-icon {
                padding: 10px;
                width: 50px;
                @include tablet {
                    width: 30px;
                }
                @include mobile {
                    margin: 0;
                    padding: 0 0.5rem;
                }
            }

            @include mobile {
                margin: 0;
                padding: 0;
            }
        }

        &-number {
            @extend %align-center;
            font-size: 2rem;
            margin-top: 22px;
            text-decoration: none;
            color: $yellow;
            @include desktop {
                font-size: 1.5rem;
            }

            @include tablet {
                font-size: 1.1rem;
            }

            @include tablet-horizontal {
                font-size: 0.7rem;
            }

            @include mobile {
                margin: 0;
                font-size: 1.5rem;
            }
        }
    }

    &__second {
        @extend %align-center;
        justify-content: space-between;

        &-wrap {
            @extend %align-center;
            margin-bottom: 1rem;

            &-text {
                font-size: 2rem;

                @include desktop {
                    font-size: 1.5rem;
                }

                @include tablet-horizontal {
                    font-size: 1rem;
                }

                @include mobile {
                    display: none;
                }
            }

            &-img {
                margin-left: 10px;
                width: 40px;

                @include desktop {
                    width: 30px;
                }

                @include tablet-horizontal {
                    width: 20px;
                }

                @include mobile {
                    display: none;
                }
            }
        }
    }
}
