@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import "navbar";
@import "swiper";
@import "sections";

*{
    margin: 0;
    padding: 0;
    font-family: "Oswald", sans-serif;
}